<section>
    <div>
        <img src="/phone.svg" alt="mobile phone icon">      
        <h1>Mobile-First Design</h1>  
        <p>Over 80% of U.S. internet traffic is on mobile devices. We design with the mobile user in mind first.</p>
    </div>
    <div>
        <img src="/palette.svg" alt="painting palette icon">
        <h1>Fully Custom and Unique</h1>
        <p>We operate with your business needs in mind to create an easy and streamlined experience for your target audience.</p>
    </div>
    <div>
        <img src="/piggy.svg" alt="piggy bank icon">
        <h1>Don't Break the Bank</h1>
        <p>Our prices are small-business friendly because that's how it should be. Get started with us for $0 down.</p>
    </div>
</section>

<style>
    section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        margin-bottom: 4rem;
    }
    div {
        width: 18rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
    }
    img {
        width: 4rem;
        margin-bottom: 0.25rem;
    }
    h1 {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
    p {
        text-align: center;
        font-weight: 300;
        line-height: 1.5rem;
    }
</style>