---
const {url} = Astro.props;
---

<div>
    <img src="/laptop.png" alt="" class="laptop">
    <img src={url} alt="" class="screen">
</div>

<style>
    div {
        position: relative;
    }
    .laptop {
        width: 27.5rem;
    }
    .screen {
        position: absolute;
        top: 110px;
        left: 68px;
        width: 19rem;
    }
</style>